.about {
    background-color: $color-gray-light;
    letter-spacing: 0.055em;
    &__container {
        display: grid;
        max-width: $ul;
        margin: auto;
        padding-right: $gap;
        padding-left: $gap;
        grid-template-areas: "rt lt";
        grid-template-columns: 1fr 271px;
        @media (max-width: $lg) {
            grid-gap: $gap*5;
            grid-template-columns: 1fr 271px;
        }
        @media (max-width:$lg) and (min-width:$md) {
            grid-gap: $gap*2;
            grid-template-columns: 1fr 271px;
        }
        @media (max-width:$md -1) and (min-width:$sm) {
            grid-gap: $gap;
            grid-template-columns: 1fr 236px;
        }
        @media (max-width:$sm - 1) {
            grid-gap: $gap;
            grid-template-columns: 1fr;
        }
    }
    &__content {
        display: grid;
        grid-area: rt;
        overflow: hidden;
    }
    &__image {
        display: grid;
        grid-area: lt;
        align-content: center;
        justify-items: center;
    }
}

.about__content p:first-of-type {
    position: relative;
    margin-top: -5px;
}