                            .about {
                                background-color: $color-gray-light;
                                letter-spacing: 0.055em;
                                min-height: 699px;
                                @media(max-width: $ul) and (min-width: $lg +1) {
                                    padding-top: $gap*5;
                                    padding-bottom: $gap*5;
                                    min-height: 699px;
                                }
                                @media (min-width: $lg) {
                                    padding-top: $gap*5;
                                    padding-bottom: $gap*5;
                                    min-height: 699px;
                                }
                                @media (max-width: $lg - 1) and (min-width: $md) {
                                    padding-top: $gap*4;
                                    padding-bottom: $gap*4;
                                    min-height: 688px;
                                }
                                @media (max-width: $md - 1) and (min-width:$sm) {
                                    padding-top: $gap*3;
                                    padding-bottom: $gap*3;
                                }
                                @media(max-width: width $sm) {
                                    max-height: 1159px;
                                }
                                &__container {
                                    display: grid;
                                    margin: auto;
                                    max-width: $ul;
                                    padding-right: $gap;
                                    padding-left: $gap;
                                    /*@media(max-width: $ul) and (min-width: $lg +1) {
                                        min-height: 499px;
                                    }*/
                                    @media (min-width: $lg) {
                                        grid-gap: $gap*5;
                                        grid-template-columns: 1fr 271px;
                                        min-height: 499px;
                                    }
                                    @media (max-width:$lg - 1) and (min-width:$md) {
                                        grid-gap: $gap*2;
                                        grid-template-columns: 1fr 271px;
                                        min-height: 527px;
                                    }
                                    @media (max-width:$md - 1) and (min-width:$sm) {
                                        grid-gap: $gap;
                                        grid-template-columns: 1fr 236px;
                                        min-height: 631px;
                                    }
                                    @media (max-width:$sm - 1) {
                                        grid-gap: $gap;
                                        grid-template-columns: 1fr;
                                        min-height: 1039px;
                                    }
                                }
                                &__content {
                                    display: block;
                                    overflow: hidden;
                                }
                                &__image {
                                    display: grid;
                                    align-content: center;
                                    justify-items: center;
                                    @media (max-width: $sm - 1) {
                                        max-width: 480px;
                                    }
                                }
                            }
                            
                            .about__content p:first-of-type {
                                position: relative;
                                margin-top: -5px;
                            }
                            
                            .about__content::after {
                                content: " ";
                                z-index: 10;
                                position: absolute;
                                width: 2px;
                                left: 970px;
                                height: 200px;
                                background-color: rgba(99, 117, 136, 0.7);
                            }
                            
                            @media (min-width: $lg) {
                                .about__content p {
                                    font-size: 1.125rem;
                                }
                                .about__content p:first-of-type::after {
                                    right: 0px;
                                }
                                h2 {
                                    margin-bottom: 56px;
                                    font-size: 2.5rem;
                                }
                            }
                            
                            @media (max-width: $lg - 1) and (min-width: $md) {
                                .about__content p:first-of-type::after {
                                    right: -$gap;
                                }
                                h2 {
                                    margin-bottom: 42px;
                                    font-size: 2rem;
                                }
                            }
                            
                            @media (max-width: $md - 1) and (min-width: $sm) {
                                .about__content p:first-of-type::after {
                                    right: -10px;
                                }
                                h2 {
                                    /**margin-bottom: 36px;*/
                                    font-size: 1.5rem;
                                }
                            }
                            
                            @media (max-width: $sm - 1) {
                                .about__content p:first-of-type::after {
                                    display: none;
                                }
                                h2 {
                                    margin-bottom: 36px;
                                    text-align: center;
                                    font-size: 1.5rem;
                                }
                            }